name: UpdateTap
on: [push]
jobs:
  deployTap:
    runs-on: macOS-latest
    steps:
    - uses: garden-io/update-homebrew-action@v1
      with:
        packageName: 'grebe'
        templatePath: '/grebe.rb'
        tapRepo: 'Apodini/homebrew-tap'
        srcRepo: 'Apodini/Grebe'
        authToken: ${{ secrets.HOMEBREW }}
